body{
	line-height: 20px;
	margin-right: 70px;
	margin-left: 85px;
	margin-top: 65px;
	margin-bottom: 65px;
	background-image: url("background.jpg");
	background-size: 90%;
}

a:link{
color: #3B12FF;
}
a:visited{
color: #3B12FF;

}

.name{
	font-family: "Helvetica", Helvetica, Helvetica;
	font-size: 30px;

}
.about-me{
	
	font-family: "Helvetica", Helvetica, Helvetica;
	font-size: 13px;
	padding-top: 5px;

}
.links{
	font-family: "Helvetica", Helvetica, Helvetica;
	font-size: 14px;
	padding-top: 10px;
}
h1{
	font-family: "Helvetica", Helvetica, Helvetica;
	font-size: 20px;
	padding-top: 12px;
	text-decoration: underline;
}
.experience span{

	font-family: "Helvetica", Helvetica, Helvetica;
	font-size: 14px;
	background-color:#FFFF00;
}
.taeyoon{
	font-family: "Helvetica", Helvetica, Helvetica;
	font-size: 13px;
	margin-left: 60px;
}
li{
	font-family: "Helvetica", Helvetica, Helvetica;
	font-size: 13px;
	margin-left: 90px;
}